<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{}, ~{}, ~{::content}, ~{::customJs})}"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <content th:remove="tag">
      <div class="d-flex justify-content-center">
        <div class="col-sm-5">
          <div id="panelDiv" class="panel">
            <div class="panel-hdr panel-hdr-custom">
              <h2 th:text="#{title.passwordReset}">Title</h2>
            </div>
            
            <div class="panel-container show">
              <div class="panel-content">
                <div class="panel-tag" th:text="#{passwordResetInstructions}">Instructions </div>
                
                <form id="initiatePasswordResetForm" th:action="@{/users/pwdreset}" th:object="${pwdreset}" th:method="post" class="needs-validation" novalidate autocomplete="off">
                  <div class="form-row">
                   <div class="col-sm mb-3">
                     <label class="form-label" th:for="email" ><span th:text="#{email}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                     <input type="email" class="form-control" th:field="*{email}" required/>
                     
                     <div class="invalid-feedback">
                      <th:block th:text="#{validation.email}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block">
                      <th:block th:errors="*{email}"></th:block>
                     </div>
                   </div>
                 </div>
     
                  <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
                    <button type="submit" class="btn btn-primary ml-auto">
                     <i class="fa fa-check"></i> <span th:text="#{submit}">submit</span>
                    </button>
                    <a th:href="@{/home}" class="btn btn-default ml-3">
                     <i class="fa fa-times"></i> <span th:text="#{cancel}">cancel</span>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    
    <customJs th:remove="tag">
      <script th:src="@{/js/app/user/pwdreset/initiatePwdReset.js}"></script>
    </customJs>
  </body>
</html>