<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{}, ~{}, ~{::content}, ~{::customJs})}"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <content th:remove="tag">
      <div class="d-flex justify-content-center">
        <div class="col-sm-5">
          <div id="panelDiv" class="panel">
            <div class="panel-hdr panel-hdr-custom">
              <h2 th:text="#{title.passwordReset}">Title</h2>
            </div>
            
            <div class="panel-container show">
              <div class="panel-content">
                <form id="passwordResetForm" th:action="@{/users/pwdreset}" th:object="${pwdreset}" th:method="put" class="needs-validation" novalidate autocomplete="off">
                  <input type="hidden" th:field="*{passwordChangeId}"/>
                  
                  <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
                    class="alert alert-danger alert-dismissible fade show" role="alert">
	                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
	                  </button>
	                  <span th:inline="text"><strong>[[#{error}]]</strong> [[${error}]]</span>
	                </div>
	                
                  <div class="form-row mb-3">
                    <div class="col-sm">
	                    <label class="form-label" th:for="username" ><span th:text="#{userName}" th:remove="tag"></span> <span class="text-danger">*</span></label>
	                    <input type="text" class="form-control" th:field="*{username}" pattern="^.{4,30}$" required/>
	                    
	                    <div class="invalid-feedback">
	                     <th:block th:text="#{validation.userName}"></th:block>
	                    </div>
	                    <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback d-block">
	                      <th:block th:errors="*{username}"></th:block>
	                    </div>    
                    </div>
                  </div>
                  
                  <div class="form-row mb-3">
                    <div class="col-sm">
	                    <label class="form-label" th:for="password" ><span th:text="#{newPassword}" th:remove="tag"></span> <span class="text-danger">*</span></label>
	                    <input type="password" class="form-control" th:field="*{password}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$" required/>
	                    
	                    <div class="invalid-feedback">
	                       <th:block th:text="#{validation.password}"></th:block>
	                    </div>
	                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
	                       <th:block th:errors="*{password}"></th:block>
	                    </div>
	                  </div>
                  </div>
                  
                  <div class="form-row mb-3">
                    <div class="col-sm">
	                    <label class="form-label" th:for="password" ><span th:text="#{confirmNewPassword}" th:remove="tag"></span> <span class="text-danger">*</span></label>
	                    <input type="password" class="form-control" th:field="*{confirmPassword}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$" required/>
	                    
	                    <div class="invalid-feedback">
	                       <th:block th:text="#{validation.password}"></th:block>
	                    </div>
	                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="invalid-feedback d-block">
	                       <th:block th:errors="*{confirmPassword}"></th:block>
	                    </div>
	                   </div>
                  </div>
     
                  <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
                    <button type="submit" class="btn btn-primary ml-auto">
                     <i class="fa fa-check"></i> <span th:text="#{submit}">submit</span>
                    </button>
                    <a th:href="@{/home}" class="btn btn-default ml-3">
                     <i class="fa fa-times"></i> <span th:text="#{cancel}">cancel</span>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    
    <customJs th:remove="tag">
      <script th:src="@{/js/app/user/pwdreset/pwdReset.js}"></script>
    </customJs>
  </body>
</html>