<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Base Project</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<meta th:replace="layout/fragments/head :: head" th:remove="tag"/>
	</head>
	
	<body class="menu-on-top">
		<div th:replace="layout/fragments/header :: header" th:remove="tag">Header goes here</div>
		
		<div th:if="${#authorization.expression('isAuthenticated()')}" th:replace="layout/fragments/navigation :: navigation" th:remove="tag">Navigation goes here</div>
		
		<div id="main" role="main">
			<div id="content" class="container-fluid">
				<section layout:fragment="content">
    			<p>Page content goes here</p>
  			</section>
			</div>
		</div>
		
 		<div th:replace="layout/fragments/footer :: footer" th:remove="tag">Footer goes here</div>
 		
 		<div th:replace="layout/fragments/js :: js" th:remove="tag">Javascript goes here</div>
		
		<div layout:fragment="customJs" th:remove="tag"></div>
		
		<script src="js/app/app.js"></script>	
	</body>
</html>