<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}:%L: %msg%n%throwable" />
    </Console>
<!--  uncomment to enable splunk - see https://github.com/devadyuti/integration-repo/tree/master/spring-log4j2-splunk
    <SplunkHttp
      name="splunkhttp"
      url="https://localhost:8088"
      token="<splunk token>"
      host="localhost"
      index="baseapp_idx"
      type="raw"
      source="http-log-event"
      sourcetype="_json"
      messageFormat="text"
      disableCertificateValidation="true"
      >
      <PatternLayout pattern="%m" />
    </SplunkHttp>
-->
  </Appenders>

  <Loggers>
    <!-- LOG everything at INFO level -->
    <Root level="info">
      <AppenderRef ref="Console" />
<!--        <AppenderRef ref="splunkhttp" /> uncomment to enable splunk -->
    </Root>
  </Loggers>
  

</Configuration>