<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger:%line{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</Pattern>
    </encoder>
  </appender>

  <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/opt/apps/baseProject/logs/application.log</file>
    <encoder>
      <pattern>-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger:%line{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/opt/apps/baseProject/logs/application.%d{yyyy-MM-dd}.%i.log.gz
      </fileNamePattern>
      <maxHistory>365</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <root level="INFO">
    <appender-ref ref="APPLICATION" />
  </root>

  <springProfile name="local">
    <logger name="edu.duke.rs.baseProject" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE" />
    </logger>
  </springProfile>

  <springProfile name="docker, dev, val">
    <logger name="edu.duke.rs.baseProject" level="DEBUG" additivity="false">
      <appender-ref ref="APPLICATION" />
    </logger>
    <!--
    <logger name="org.springframework.security.saml" level="ERROR" additivity="false">
      <appender-ref ref="APPLICATION" />
    </logger>
    <logger name="org.opensaml" level="ERROR" additivity="false">
      <appender-ref ref="APPLICATION" />
    </logger>
    <logger name="PROTOCOL_MESSAGE" level="ERROR" additivity="false">
      <appender-ref ref="APPLICATION" />
    </logger>
    -->
  </springProfile>

  <springProfile name="prod">
    <logger name="edu.duke.rs.baseProject" level="INFO" additivity="false">
      <appender-ref ref="APPLICATION" />
    </logger>
  </springProfile>
</configuration>
