<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer th:fragment="footer" id="footer" class="page-footer" role="contentinfo">
        <div class="flex-1 text-muted">
          <span th:text="|#{version} ${@environment.getProperty('info.app.version')}|" class="fw-700">Version X.Y.Z</span>
        </div>
        <div>
          <div class="flex-l text-muted">
            <a href="#" th:text="#{contactUs}" class="text-secondary fw-700">Contact us</a>
          </div>
        </div>
      </footer>
	</body>
</html>