<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<header th:fragment="header" id="header">
		<div id="logo-group">
			<span id="logo"><img th:src="@{/img/custom/logo.png}"
				th:alt="${@environment.getProperty('spring.application.name')}" /></span>
		</div>

		<div class="pull-right">
			<div sec:authorize="isAuthenticated()" id="logoff" class="btn-header pull-right">
				<span><a href="#" th:href="@{/logout}"
					th:title="#{menu.logout}" th:inline="text"><i
						class="fa fa-sign-out"></i></a></span>
			</div>
				
			<div sec:authorize="!isAuthenticated()" id="login" class="btn-header pull-right">
				<span><a href="/home"
					th:title="#{menu.login}" th:inline="text"><i class="fa fa-sign-in"></i></a></span>
			</div>
		</div>
	</header>
</body>
</html>