<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head" th:remove="tag">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css"/>
		
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production-plugins.min.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"/>
		
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon"/>
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/addon/jquery-confirm.min.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="css/app/custom.css"/>
	</head>
</html>