<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org">
  <body>
	  <div th:fragment="messages" id="messages" th:remove="tag">
	    <div th:if="${feedbackMessage != null}" class="alert alert-success fade in">
		    <button class="close" data-dismiss="alert">x</button>
        <i class="fa-fw fa fa-check"></i>
        <strong th:text="#{success} + ': ' + ${feedbackMessage}">Feedback message</strong>
	    </div>
	    
	    <div th:if="${warningMessage != null}" class="alert alert-warning fade in">
        <button class="close" data-dismiss="alert">x</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong th:text="#{warning} + ': ' + ${warningMessage}">Warning message</strong>
      </div>
      
      <div th:if="${errorMessage != null}" class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">x</button>
        <i class="fa-fw fa fa-times"></i>
        <strong th:text="#{error} + ': ' + ${errorMessage}">Error message</strong>
      </div>
	  </div>
  </body>
</html>