<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org">
  <body>
	  <div th:fragment="messages" id="messages" th:remove="tag">
	    <div th:if="${feedbackMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <span th:inline="text"><strong>[[#{success}]]</strong> [[${feedbackMessage}]]</span>
	    </div>
	    
	    <div th:if="${warningMessage != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <span th:inline="text"><strong>[[#{warning}]]</strong> [[${warningMessage}]]</span>
      </div>
      
      <div th:if="${errorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <span th:inline="text"><strong>[[#{error}]]</strong> [[${errorMessage}]]</span>
      </div>
	  </div>
  </body>
</html>