<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<body>
		<aside th:fragment="navigation" id="left-panel">
			<nav>
            	<ul>
	                <li>
	                    <a href="#" th:href="@{/}" th:title="#{menu.home}" th:inline="text"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">[[#{menu.home}]]</span></a>
	                </li>
	                <li>
	                    <a href="#" th:href="@{/logout}" th:title="#{menu.logout}" th:inline="text" ><i class="glyphicon glyphicon-log-out"></i><span class="menu-item-parent">[[#{menu.logout}]]</span></a>
	                </li>
             	</ul>
          	</nav>
		</aside>
	</body>
</html>