<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <aside sec:authorize="isAuthenticated()" th:fragment="navigation" id="navigation" class="page-sidebar">
	 <div class="page-logo">
	   <img th:src="@{/img/app/logoNoName.png}" alt="Duke Medicine" aria-roledescription="logo">
	   <span class="page-logo-text mr-1" th:utext="#{dukeMedicine}">Duke Medicine</span>
	 </div>

	 <nav id="js-primary-nav" class="primary-nav" role="navigation">
	   <ul id="js-nav-menu" class="nav-menu">
	     <li>
	       <a th:href="@{/home}" th:title="#{home}" id="homeMenuOption">
	         <i class="fal fa-home"></i>
	         <span th:text="#{home}" class="nav-link-text">Home</span>
	       </a>
	     </li>
	     
	     <li sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
	       <a href="#" th:title="#{search}" id="searchMenuOption">
	         <i class="fal fa-search"></i>
	         <span th:text="#{search}" class="nav-link-text">search</span>
         </a>
         
	       <ul>
	         <li>
	           <a th:href="@{/users}" th:title="#{users}" id="usersMenuOption">
	             <span th:text="#{users}" class="nav-link-text">Users</span>
	           </a>
	         </li>
	       </ul>
	     </li>
	     
	     <li sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
         <a href="#" th:title="#{new}" id="newMenuOption">
           <i class="fal fa-plus"></i>
           <span th:text="#{new}" class="nav-link-text">new</span>
         </a>
         
         <ul>
           <li>
             <a th:href="@{'/users' (action='edit')}" th:title="#{user}" id="newUserMenuOption">
               <span th:text="#{user}" class="nav-link-text">user</span>
             </a>
           </li>
         </ul>
       </li>
	    </ul>
	    <div class="filter-message js-filter-message bg-success-600"></div>
	  </nav>
	  
	  <div class="nav-footer shadow-top">
	    <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify"
	       class="hidden-md-down">
	      <i class="ni ni-chevron-right"></i>
	      <i class="ni ni-chevron-right"></i>
	    </a>
	  </div>
  </aside>
</html>