<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::customCss}, ~{}, ~{::content}, ~{::customJs})}"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <customCss th:remove="tag">
      <link rel="stylesheet" media="screen, print" th:href="@{/css/formplugins/select2/select2.bundle.css}">
    </customCss>
    
    <content th:remove="tag">
      <div class="subheader">
        <h1 class="subheader-title">
          <th:block th:text="#{editUser}" th:remove="tag">Edit User</th:block>
        </h1>
      </div>
           
			<div class="row">
        <div class="col-sm-12 col-lg-8">
          <div id="panelDiv" class="panel">
            <div class="panel-hdr panel-hdr-custom">
	            <h2 th:text="#{title.user}">Title</h2>
            </div>
            
            <div class="panel-container show">
              <div class="panel-content">
	              <form id="userForm" th:action="@{'/users/' + ${user.id}}" th:object="${user}" th:method="put" class="needs-validation" novalidate autocomplete="off">
	                <input type="hidden" th:field="*{id}"/>
	                <input type="hidden" th:field="*{username}"/>
	                
	                <div class="form-row">
	                 <div class="col-sm-5 mb-3">
	                   <label class="form-label" th:for="firstName" ><span th:text="#{firstName}" th:remove="tag"></span> <span class="text-danger">*</span></label>
	                   <input type="text" class="form-control" th:field="*{firstName}" autofocus="autofocus" pattern="^.{1,30}$" required/>
	                   
	                   <div class="invalid-feedback">
                        <th:block th:text="#{validation.firstName}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback d-block">
                        <th:block th:errors="*{firstName}"></th:block>
                     </div>
	                 </div>                         
                   
                   <div class="col-sm-2 mb-3">
                     <label class="form-label" th:for="middleIntial" th:text="#{middleInitial}">middle initial</label>
                     <input type="text" class="form-control" th:field="*{middleInitial}" size="1" pattern="^[A-Z]?$"/>
                     
                     <div class="invalid-feedback">
                        <th:block th:text="#{validation.middleIntial}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('middleInitial')}" class="invalid-feedback d-block">
                        <th:block th:errors="*{middleInitial}"></th:block>
                     </div>
                   </div>
                   
                   <div class="col-sm-5 mb-3">
                     <label class="form-label" th:for="lastName" ><span th:text="#{lastName}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" th:field="*{lastName}" pattern="^.{1,30}$" required/>
                     
                     <div class="invalid-feedback">
                        <th:block th:text="#{validation.lastName}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback d-block">
                        <th:block th:errors="*{lastName}"></th:block>
                     </div>
                   </div>    
	                </div>
	                
	                <div class="form-row">
                   <div class="col-sm-5 mb-3">
                     <label class="form-label" th:for="email" ><span th:text="#{email}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                     <input type="email" class="form-control" th:field="*{email}" required/>
                     
                     <div class="invalid-feedback">
                      <th:block th:text="#{validation.email}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block">
                      <th:block th:errors="*{email}"></th:block>
                     </div>
                   </div>
                   
                   <div class="col-sm-2 mb-3">
                   </div>
                   
                   <div class="col-sm-5 mb-3">
                     <label class="form-label" th:for="timeZone" ><span th:text="#{timeZone}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                     <select class="form-control select2 custom-select w-100" th:field="*{timeZone}" required>
                       <option th:each= "tz: ${T(edu.duke.rs.baseProject.util.TimeZoneDisplay).getDisplayableTimeZones()}" th:value="${tz.zoneId}" th:utext="${tz.label}"></option>
                     </select>
                     
                     <div class="invalid-feedback">
                       <th:block th:text="#{validation.timeZone}"></th:block>
                     </div>
                     <div th:if="${#fields.hasErrors('timeZone')}" class="invalid-feedback d-block">
                      <th:block th:errors="*{timeZone}"></th:block>
                     </div>
                   </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="col-sm-5 mb-3">
                      <label class="form-label" th:for="roles" ><span th:text="#{roles}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                      <select class="form-control select2 custom-select w-100" th:field="*{roles}" multiple required>
                       <option th:each= "role: ${roles}" th:value="${role.key}" th:utext="${role.value}"></option>
                      </select>
                      
	                    <div class="invalid-feedback">
	                      <th:block th:text="#{validation.roles}"></th:block>
	                    </div>
	                    <div th:if="${#fields.hasErrors('roles')}" class="invalid-feedback d-block">
                        <th:block th:errors="*{roles}"></th:block>
                      </div>
                    </div>
                    
                    <div class="col-sm-2 mb-3">
                    </div>
                    
                    <div class="col-sm-5 mb-3 d-flex flex-column justify-content-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="accountEnabled" name="accountEnabled" th:checked="${user.accountEnabled}">
                        <input type="hidden" name="_accountEnabled" th:value="${user.accountEnabled} ? 'on' : 'off'">
                        <label class="custom-control-label" th:for="accountEnabled" th:text="#{accountEnabled}">enabled</label>  
                        
                        <div th:if="${#fields.hasErrors('accountEnabled')}" class="invalid-feedback d-block">
                          <th:block th:errors="*{accountEnabled}"></th:block>
                        </div>           
                      </div>
                    </div>
                  </div>
                  
                  <hr class="border border-primary">
                  
                  <div class="form-row">
	                   <div class="col-sm-12 mb-3">
	                     <label class="form-label" th:for="changeReason" ><span th:text="#{changeReason}" th:remove="tag"></span> <span class="text-danger">*</span></label>
	                     <input type="text" class="form-control" th:field="*{changeReason}" required/>
	                     
	                     <div class="invalid-feedback">
	                       <th:block th:text="#{validation.changeReason}"></th:block>
	                     </div>
	                     <div th:if="${#fields.hasErrors('changeReason')}" class="invalid-feedback d-block">
	                      <th:block th:errors="*{changeReason}"></th:block>
	                     </div>
	                   </div>
	                 </div>
	                 
	                 <div class="form-row">  
	                   <div class="col-sm-6 mb-3">
                        <label class="form-label" th:for="password" ><span th:text="#{password}" th:remove="tag"></span> <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" th:field="*{password}" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$" required/>
                      
                        <div class="invalid-feedback">
                           <th:block th:text="#{validation.password}"></th:block>
                        </div>
                        <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
                           <th:block th:errors="*{password}"></th:block>
                        </div>
                     </div>
                  </div>
                  
	                <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
	                  <button id="submitButton" type="submit" class="btn btn-primary ml-auto">
                     <i class="fa fa-check"></i> <span th:text="#{submit}">submit</span>
                    </button>
                    <a id="cancelLink" th:href="@{'/users/' + ${user.id}}" class="btn btn-default ml-3">
                     <i class="fa fa-times"></i> <span th:text="#{cancel}">cancel</span>
                    </a>
	                </div>
	              </form>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    
    <customJs th:remove="tag">
      <script th:src="@{/js/formplugins/select2/select2.bundle.js}"></script>
      <script th:src="@{/js/addon/hotkeys.min.js}"></script>
      <script th:src="@{/js/app/buttonUtils.js}"></script>
      <script th:src="@{/js/app/user/editUser.js}"></script>
      <script th:inline="javascript">
      /*<![CDATA[*/
        CONTEXT.setUserId(/*[[${user.id}]]*/ '1');
      /*]]>*/  
      </script>
    </customJs>
  </body>
</html>