<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{}, ~{::breadCrumb}, ~{::content}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">
	<body>
	  <breadCrumb th:remove="tag">
	    <li class="breadcrumb-item" th:text="#{admin}">admin</li>
	    <li class="breadcrumb-item"><a th:href="@{/users}" th:text="#{users}">users</a></li>
      <li class="breadcrumb-item active" th:text="${user.displayName}">user details</li>
    </breadCrumb>
	  
		<content th:remove="tag">             
			<div class="row">
        <div class="col-xl-8">
          <div id="panelDiv" class="panel">
            <div class="panel-hdr panel-hdr-custom">
              <h2 th:text="#{title.userDetails}">Title</h2>
            </div>
            
            <div class="panel-container show">
              <div class="panel-content">
                <div class="row">
                  <div class="col-xl-6">
		                <dl class="row">
		                  <dt class="col-sm-3" th:text="#{name}">name</dt>
		                  <dd class="col-sm-9" th:text="${user.displayName}">fn</dd>
		                </dl>
		                <dl class="row">
                      <dt class="col-sm-3" th:text="#{userName}">user name</dt>
                      <dd class="col-sm-9" th:text="${{user.userName}}">abc001</dd>
                    </dl>
                    <dl class="row">
                      <dt class="col-sm-3" th:text="#{timeZone}">time zone</dt>
                      <dd class="col-sm-9" th:text="${user.timeZone.displayName}">GMT</dd>
                    </dl>
		              </div>
		              <div class="col-xl-6">
		                <dl class="row">
                      <dt class="col-sm-3" th:text="#{email}">email</dt>
                      <dd class="col-sm-9"><a th:text="${user.email}" th:href="'mailto:' + ${user.email}">abc@123.com</a></dd>
                    </dl>
                     <dl class="row">
                      <dt class="col-sm-3" th:text="#{roles}">roles</dt>
                      <dd class="col-sm-9" th:text="${{user.roles}}">role, role</dd>
                    </dl>
                    <dl class="row">
                      <dt class="col-sm-3" th:text="#{lastLoggedIn}">last logged in</dt>
                      <dd class="col-sm-9" th:text="${{user.lastLoggedIn}}">00:00</dd>
                    </dl>
		              </div>
	              </div>
              </div>
            </div>
          </div>
        </div>
		</content>
	</body>
</html>