<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout.html}">
  <head>
    <title th:text="#{title.userProfile}">AAAA</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-user"></i></span>
          <h2 th:text= "#{title.userProfile}"></h2>
        </header>
        <div>
          <div class="widget-body no-padding">
            <form action="#" th:action="@{/userProfile}" th:object="${userProfile}" th:method="put">
              <fieldset>
                <div class="form-group">
                    <label th:text="#{timeZone}" class="bold">Time Zone</label>
                    <div class="input-group">
                      <select th:field="*{timeZone}" class="form-control">
                        <option th:each= "tz: ${timeZones}" th:value="${tz.zoneId}" th:label="${tz.label}" ></option>
                      </select>
                    </div>
                </div>
              </fieldset>

              <div class="form-actions">
                <div class="btn btn-primary btn-lg">
                  <input type="submit" class="btn btn-primary btn-default" th:value="Submit"></input>
                </div>
<!--                 <a th:href="@{/admin/study?search=study}" class="btn btn-default" th:value="cancel">Cancel</a> -->
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>