<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::customCss}, ~{::breadCrumb}, ~{::content}, ~{::customJs})}"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout.html}">
<body>
  <customCss th:remove="tag">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/datagrid/datatables/datatables.bundle.css}">
  </customCss>
  
  <breadCrumb th:remove="tag">
    <li class="breadcrumb-item" th:text="#{search}">search</li>
    <li class="breadcrumb-item active" th:text="#{users}">users</li>
  </breadCrumb>
  
  <content th:remove="tag">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-hdr panel-hdr-custom">
          <h2 th:text="#{user.search}">Search</h2>
        </div>
        
        <div class="panel-container show">
          <div class="panel-content">
            <table id="searchResults" class="table table-bordered table-hover table-striped w-100 table-custom">
              <thead class="thead-themed">
                <tr>
	                <th th:text="#{lastName}">ln</th>
	                <th th:text="#{firstName}">fn</th>
	                <th th:text="#{userName}">username</th>
	                <th th:text="#{email}">email</th>
	                <th th:text="#{accountEnabled}">accountEnabled</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </content>
	</content>
	
	<customJs th:remove="tag">
	  <script th:src="@{js/datagrid/datatables/datatables.bundle.js}"></script>
    <script th:src="@{js/app/ajaxUtil.js}" type="text/javascript"></script>
    <script th:src="@{js/app/datatables.js}" type="text/javascript"></script> 
    <script th:src="@{js/app/user/userSearch.js}" type="text/javascript"></script> 
	</customJs>
</body>
</html>