<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{}, ~{::breadCrumb}, ~{::content}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{title.home}">AAAA</title>
	</head>
	<body>
	  <breadCrumb th:remove="tag">
	    <li class="breadcrumb-item" th:text="#{home}">home</li>
    </breadCrumb>
	  
		<content th:remove="tag">
		  <div class="subheader">
	      <h1 class="subheader-title">
	        <th:block th:text="#{title.home}" th:remove="tag">Home</th:block>
	      </h1>
      </div>
              
			<p>This is the home page.</p>
		</content>
	</body>
</html>